# Zabbix Telegram Bot environment
PYTHONUNBUFFERED=1
# TODO: Что за сертефикаты и где они берутся?
REQUESTS_CA_BUNDLE={{ zbxtelegram_ca_bundle }}
SSL_CERT_FILE={{ zbxtelegram_ssl_cert }}
{% if zbxtelegram_proxy_enabled and zbxtelegram_proxy_url %}
HTTP_PROXY={{ zbxtelegram_proxy_url }}
HTTPS_PROXY={{ zbxtelegram_proxy_url }}
NO_PROXY={{ zbxtelegram_no_proxy }} localhost,127.0.0.1,.tspd.local,.localdomain
{% endif %}
